api_migration/exp-connext-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="exp-connext-api-impl-chgsap-flow" doc:id="21ae9110-0248-4073-bfa0-924f9482e2c9" >
<!-- 		<http:listener doc:name="Listener" doc:id="4fdc842f-6242-4c0f-bc19-52bce5684b31" config-ref="HTTP_Listener_config" path="${http.basePathChgsap}"/>
 -->		<scheduler doc:name="Scheduler" doc:id="cd82f584-808b-429e-8c3a-8638d6a8efd7" >
			<scheduling-strategy >
				<cron expression="${schedule.chgsapExpression}" timeZone="${schedule.timeZone}" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="8a309e51-5c0e-4c52-90d1-a4712ac992b5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	fromDate: (now() - |P1D|) as String {format: "yyyyMMdd"},
	//fromDate: "20210101",
	toDate: now() as String {format: "yyyyMMdd"}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d853dbab-f025-4dc8-87cc-d6edfa7e01c5" message="CHGSAP Triggered::: #[payload]"/>
		<flow-ref doc:name="chgsap-request" doc:id="3c4fed40-2d94-4f6f-927f-e27eac7f70ad" name="chgsap-request" />
	</flow>
	<flow name="exp-connext-api-impl-serp-flow" doc:id="ddc38760-856f-4b29-93f3-967137791f17" >
<!-- 		<http:listener doc:name="Listener" doc:id="b1f2adcd-7bda-4021-86ca-b336438bec45" config-ref="HTTP_Listener_config" path="${http.basePathSerp}"/>
 -->		<scheduler doc:name="Scheduler" doc:id="9953e91b-d346-4c73-830e-baf77f8a559f" >
			<scheduling-strategy >
				<cron expression="${schedule.serpExpression}" timeZone="${schedule.timeZone}" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="0d83caff-20fc-40eb-8908-ad3a71333683">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	fromDate: (now() - |P1D|) as String {format: "yyyyMMdd"},
	//fromDate: "20210101",
	toDate: now() as String {format: "yyyyMMdd"}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3f43056b-5442-4f18-9fd6-e74c78d57c3d" message="SERP Triggered:: #[payload]" />
		<flow-ref doc:name="serp-request" doc:id="51ce064f-ff0c-46ef-b335-ea126c910aa7" name="serp-request" />
	</flow>
	<flow name="exp-connext-api-impl-gsap-flow" doc:id="32430abe-580d-4d16-bd22-7a53730f33db" >
<!-- 		<http:listener doc:name="Listener" doc:id="d3aefbd5-f2f3-4a7c-a442-9ead3433299d" config-ref="HTTP_Listener_config" path="${http.basePathSerp}"/>
 -->		<scheduler doc:name="Scheduler" doc:id="5eda8772-dc42-4fc1-843b-12ca8f4b160a" >
			<scheduling-strategy >
				<cron expression="${schedule.gsapExpression}" timeZone="${schedule.timeZone}" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="1179389b-6ad2-49ec-8264-fb7a484c93d9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	fromDate: (now() - |P1D|) as String {format: "yyyyMMdd"},
	//fromDate: "20210101",
	toDate: now() as String {format: "yyyyMMdd"}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="323887ec-d2d1-4d62-ad71-a89a16a28abd" message="GSAP Triggered:: #[payload]" />
		<flow-ref doc:name="gsap-request" doc:id="dc6dc557-324a-4d20-b5ef-5e9e268f00ba" name="gsap-request" />
	</flow>
	<flow name="exp-connext-api-impl-blp-flow" doc:id="de19a7d5-db1a-4e95-acd1-12f830fffb65" >
<!-- 		<http:listener doc:name="Listener" doc:id="f87b35f2-26c2-406d-a598-78b2623b9dbd" config-ref="HTTP_Listener_config" path="${http.basePathSerp}"/>
 -->		<scheduler doc:name="Scheduler" doc:id="8693c49e-3a71-4997-9e3a-a8bb5026c826" >
			<scheduling-strategy >
				<cron expression="${schedule.blpExpression}" timeZone="${schedule.timeZone}" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="3ab5f276-cad4-4121-a5c7-b3639ffe8e85">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	fromDate: (now() - |P1D|) as String {format: "yyyyMMdd"},
	//fromDate: "20210101",
	toDate: now() as String {format: "yyyyMMdd"}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="64b6d7b0-9197-4fff-bcb5-643170f31159" message="BLP Triggered:: #[payload]" />
		<flow-ref doc:name="blp-request" doc:id="e2ac8c39-1336-4001-81f6-eafeecd078af" name="blp-request" />
	</flow>
		<sub-flow name="chgsap-request" doc:id="fc145a9b-80cd-46c5-9beb-b52e72e45914">
		<http:request method="GET" doc:name="Request to CHGSAP" doc:id="79a0d024-75c2-489f-8580-1ea0e5f49d46" config-ref="HTTP_Request_chgsap_configuration" path="${sysHttpChgsap.sysApi.odatachgsap}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('secure::sysHttpChgsap.sysApi.client_secret'),
	"client_id" : Mule::p('secure::sysHttpChgsap.sysApi.client_id')
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---

	payload]]]></http:query-params>
		</http:request>
	</sub-flow>
	<sub-flow name="serp-request" doc:id="d607b6f4-d164-4279-a499-1d1e9dd3712a" >
		<http:request method="GET" doc:name="Request to SERP" doc:id="402b03b3-1689-4e17-acea-1e27310dd619" config-ref="HTTP_Request_serp_configuration" path="${sysHttpSerp.sysApi.odataserp}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('secure::sysHttpSerp.sysApi.client_secret'),
	"client_id" : Mule::p('secure::sysHttpSerp.sysApi.client_id')
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
payload]]]></http:query-params>
		</http:request>
	</sub-flow>
	<sub-flow name="gsap-request" doc:id="d49553ec-8300-4f26-b105-8df36bb98882" >
		<http:request method="GET" doc:name="Request to GSAP" doc:id="706f9fc4-6622-425e-9017-f7573bc2fdcf" config-ref="HTTP_Request_GSAP_configuration" path="${sysHttpGsap.sysApi.odatagsap}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('secure::sysHttpGsap.sysApi.client_secret'),
	"client_id" : Mule::p('secure::sysHttpGsap.sysApi.client_id')
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
payload]]]></http:query-params>
		</http:request>
	</sub-flow>
	<sub-flow name="blp-request" doc:id="74038d0d-bda8-4cfe-a550-96214c7f224f" >
		<http:request method="GET" doc:name="Request to Blueprint" doc:id="428575e0-e243-4f25-8858-5270edbf7fd3" config-ref="HTTP_Request_Blueprint_configuration" path="${sysHttpBlp.sysApi.odatablp}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('secure::sysHttpBlp.sysApi.client_secret'),
	"client_id" : Mule::p('secure::sysHttpBlp.sysApi.client_id')
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
payload]]]></http:query-params>
		</http:request>
	</sub-flow>
	<flow name="exp-connext-api-adhoc-call" doc:id="5abbcbab-d748-4a00-a9ad-0b2c45746c0d" >
		<logger level="INFO" doc:name="Logger" doc:id="e340e300-a034-4b6e-ada5-20383fe32163" message="Adhoc Call Being Called...!!!"/>
		<set-variable value="#[message.attributes.queryParams.'identifier']" doc:name="Set Variable" doc:id="d8173612-2f7b-4470-a1e3-a43ed0deca16" variableName="identifier"/>
		<choice doc:name="Choice" doc:id="593e6ecf-d9cb-4116-8e51-ee96cddedf06" >
			<when expression="#[vars.identifier == 'Blueprint']">
				<ee:transform doc:name="Transform Message" doc:id="6e3bab41-f78b-42e1-9f7c-a5e32b99b574">
					<ee:message>
						<ee:set-payload resource="dwl/request.dwl" />
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="4dfe1f44-592b-479f-855f-37b8d68613d3" message="adhoc call data::: #[payload]"/>
				<flow-ref doc:name="blp-request" doc:id="6ad9bd82-a673-4f2f-b4a0-fb6f195e079f" name="blp-request"/>
			</when>
			<when expression="#[vars.identifier == 'GSAP']">
				<ee:transform doc:name="Transform Message" doc:id="c0ff11fa-d1b3-42fc-ba19-2a8a32fb174a">
					<ee:message>
						<ee:set-payload resource="dwl/request.dwl" />
					
</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="918d1808-9d52-4fc6-9aab-65219f1eb1c0" message="adhoc call data::: #[payload]"/>
				<flow-ref doc:name="gsap-request" doc:id="38c1ccd7-1d9a-4cd9-9999-23612b9aaf05" name="gsap-request"/>
			</when>
			<when expression="#[vars.identifier == 'CHGSAP']">
				<ee:transform doc:name="Transform Message" doc:id="467623e8-f85c-492c-a176-d7c4a6d937bc">
					<ee:message>
						<ee:set-payload resource="dwl/request.dwl" />
					
</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="82007a74-a100-4972-8264-53eb639eec28" message="adhoc call data::: #[payload]"/>
				<flow-ref doc:name="chgsap-request" doc:id="fe6bcd94-b80f-4a00-b039-341d28ba0082" name="chgsap-request"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="62681d48-7d0f-4fbc-a099-9141b3124061">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (message.attributes.queryParams.'PONumber' == null){
	fromDate: message.attributes.queryParams.'DateModified',
	toDate: now() as String {format: "yyyyMMdd"}
} else (PONumber: message.attributes.queryParams.'PONumber')]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="serp-request" doc:id="264188f7-bb1d-463e-877c-420ff2de4913" name="serp-request"/>
			</otherwise>
		</choice>
	</flow>

</mule>
